CrossPlatformDesktopProject/.vs/CrossPlatformDesktopProject/v16/.suo
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/CrossPlatformDesktopProject.exe
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/CrossPlatformDesktopProject.pdb
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/libopenal.1.dylib
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/libSDL2-2.0.0.dylib
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/MonoGame.Framework.dll
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/MonoGame.Framework.dll.config
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/Content/Fonty.xnb
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/Content/NewFont.xnb
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/Content/yoshi.xnb
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/x64/libopenal.so.1
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/x64/libSDL2-2.0.so.0
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/x64/SDL2.dll
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/x64/soft_oal.dll
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/x86/libopenal.so.1
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/x86/libSDL2-2.0.so.0
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/x86/SDL2.dll
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/x86/soft_oal.dll
CrossPlatformDesktopProject/CrossPlatformDesktopProject/obj/Debug/CrossPlatformDesktopProject.csproj.CopyComplete
CrossPlatformDesktopProject/CrossPlatformDesktopProject/obj/Debug/CrossPlatformDesktopProject.csproj.CoreCompileInputs.cache
CrossPlatformDesktopProject/CrossPlatformDesktopProject/obj/Debug/CrossPlatformDesktopProject.csprojAssemblyReference.cache
CrossPlatformDesktopProject/CrossPlatformDesktopProject/obj/Debug/CrossPlatformDesktopProject.exe
CrossPlatformDesktopProject/CrossPlatformDesktopProject/obj/Debug/CrossPlatformDesktopProject.pdb
CrossPlatformDesktopProject/CrossPlatformDesktopProject/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/AnyCPU/Debug/Content/Link_Spritesheet.xnb
CrossPlatformDesktopProject/CrossPlatformDesktopProject/bin/DesktopGL/*
CrossPlatformDesktopProject/CrossPlatformDesktopProject/Content/bin/DesktopGL/*
*.exe
*.cache
*.suo
.vs/*
*.FileListAbsolute.txt
*.xnb
